/* toxtmatrix.css - jToxMatrix tool styles
*/

.jtox-assessment form div.actions {
	margin-top: 15px;
	font-size: 80%;
}

.jtox-assessment form input,
.jtox-assessment form textarea {
	width: 100%;
}
