/* toxtmatrix.css - jToxMatrix tool styles
*/
html, body, #jtox-assessment {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#logger {
  position: fixed;
	height: 144px;
  width: 99%;
  right: 0px;
	bottom: 0px;
	z-index: 100;
	transition: bottom 0.5s ease;
	-moz-transition: bottom 0.5s ease;
	-webkit-transition: bottom 0.5s ease;
	-o-transition: bottom 0.5s ease;
	box-shadow: -3px 7px 7px #999;
}

#logger.hidden {
  bottom: -120px;
}


#jtox-identifiers form div.actions {
	margin-top: 15px;
	font-size: 80%;
}

#jtox-identifiers form input,
#jtox-identifiers form textarea {
	width: 100%;
}

#jtox-structures .jtox-foldable {
  margin-top: 5px;
  margin-bottom: 5px;
}

#jtox-structures td textarea {
  width: 100%;
  height: 100%;
}

body.structlist #jtox-query .jtox-foldable {
  display: none;
}

body.structlist #browser {
  margin-top: 5px;  
}

#jtox-matrix .jtox-toolkit {
  margin-top: 10px;
}

#jtox-assessment>div.ui-tabs-panel {
  position: relative;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.jtox-slidable {
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 202%;
  padding: 0px;
  -moz-transition: left ease 800ms;
  -ms-transition: left ease 800ms;
  -o-transition: left ease 800ms;
  -webkit-transition: left ease 800ms;
  transition: left ease 800ms;
}

.jtox-slidable>div {
  width: 50%;
  position: relative;
  margin: 0px;
  vertical-align: top;
  box-sizing: border-box;
}

.jtox-slidable>div>div {
  position: relative;
}

#jtox-endpoints .tab-substance  {
  padding-right: 25px;
}

#jtox-endpoints .tab-points  {
  padding-left: 15px;
}
