/* toxtmatrix.css - jToxMatrix tool styles
*/

.jtox-identifiers form div.actions {
	margin-top: 15px;
	font-size: 80%;
}

.jtox-identifiers form input,
.jtox-identifiers form textarea {
	width: 100%;
}
