#tt-browser-panel {
  width: 40%;
  min-width: 250px;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  overflow: hidden;
}

#tt-models-panel {
  width: 59%;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
}

#tt-diagram {
  position: relative;
  text-align: center;
  overflow: hidden;
}

#tt-diagram img {
  min-height: 250px;
  width: 250px;
  border: 1px dashed gray;
  border-radius: 5px;
  padding: 3px;
}

#tt-controls {
 display: block;
 margin: 45px 0px 10px 0px;  
 width: 100%;
 position: relative;
 text-align: center;
}

#tt-controls a {
  float: none;  
}

#counter-field {
  font-weight: bold;
  vertical-align: bottom;
  margin-left: 20px;
  margin-right: 20px;
}

.selections {
  float: right;
  vertical-align: top;
}

div.dataTables_filter label {
  font-size: 80%;
}

div.dataTables_filter input {
  margin-bottom: 0px;
}
