html, body {
  width: 100%;
  height: 100%;  
}

body>div {
  height: 100%;
  width: 100%;
}

#sidebar {
  position: fixed;
	background-color: #fafafa;
	border: 1px solid #ccc;
  width: 40px;
  top: 50px;
  left: -25px;
	bottom: 0px;
	z-index: 100;
	padding: 0px 5px 0px 8px;
	border-radius: 7px;
	box-shadow: 3px 3px 7px #999;
}

#sidebar .side-title {
  min-width: 400px;
  float: right;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
	transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);   
  -o-transform: rotate(270deg);  	
  -ms-transform: rotate(270deg);  	
}

#sidebar .side-title>div {
  display: inline-block;
  width: 49%;
  text-align: center;
  border-radius: 7px;
}

#sidebar .side-title>div:hover,
#sidebar .side-title>div.pressed {
  background: #e6e6e6;
}

#tt-bigpane {
  position: relative;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  padding-left: 45px;
  padding-right: 5px;
  overflow: scroll;
}

#tt-bigpane>div {
  height: 100%;
}

#tt-models-panel {
  width: 59%;
  height: 100%;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  position: relative;
}

#tt-models-panel .selections {
  float: right;
  vertical-align: top;
  font-size: 90%;
}

#tt-models-panel .jtox-toolkit {
  overflow: scroll;
  height: 100%;
}

div.tt-algorithm div.jtox-inline.float-right {
  margin-right: 20px;
}

#tt-browser-panel {
  position: relative;
  width: 40%;
  height: 100%;
  min-width: 250px;
  display: inline-block;
  margin: 0px;
  vertical-align: top;
  overflow: hidden;
}

#tt-diagram {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

#tt-diagram img {
  min-height: 250px;
  min-width: 250px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

#tt-browser-panel .tt-controls {
  vertical-align: bottom;
  float: right;
}

#tt-features .list {
  overflow: scroll;
  box-sizing: border-box;
  font-size: 90%;
}

#tt-features .tt-feature {
  width: 100%;
  white-space: nowrap;
}

.tt-name {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
}

.tt-value {
  padding: 2px 0px 2px 5px;
  border-left: 1px solid #999;
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  position: relative;
}

#tt-table {
  font-size: 90%;
}
