/* jtoxkit.css - Styling for all jToxKit parts
*/
.jtox-foldable {
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,.5) 0%, rgba(200,200,200,.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.5)), color-stop(100%,rgba(200,200,200,.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(200,200,200,.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(200,200,200,.5) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(200,200,200,.5) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.5) 0%,rgba(200,200,200,.5) 100%); /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; 
}

.jtox-foldable:hover {
	background: #ddd; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(200,200,200,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(200,200,200,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* W3C */
}

.jtox-foldable.folded>.content {
  display: none;
}

.jtox-foldable.folded>.title {
  background: url(../images/sort_desc.png) right top no-repeat;
}

.jtox-foldable>.title {
  background: url(../images/sort_asc.png) right top no-repeat;
  background-size: 19px 19px;
}

.jtox-toolkit .jtox-details {
  font-size: 80%;
}

.jtox-toolkit sup {
  font-size: smaller;
  vertical-align: super;
}

.jtox-toolkit sub {
  font-size: smaller;
  vertical-align: sub;
}

.jtox-toolkit sup a {
  text-decoration: none;
}

.jtox-template {
  display: none !important;
}

.jtox-toolkit .size-quarter {
  width: 25%;
}

.jtox-toolkit .size-third {
  width: 33%;
}

.jtox-toolkit .size-half {
  width: 50%;
}

.jtox-toolkit .size-full {
  width: 100%;
}

.jtox-toolkit .top {
  vertical-align: top !important;
}

.jtox-toolkit .middle {
  vertical-align: middle !important;
}

.jtox-toolkit .center {
  text-align: center !important;
}

.jtox-toolkit .right {
  text-align: right !important;
}

.jtox-toolkit .nomargin {
	margin: 0px !important;
}

.jtox-toolkit .font-small {
  font-size: small;
}

.jtox-toolkit .font-smaller {
  font-size: smaller;
}

.jtox-toolkit .font-big {
  font-size: large;
}

.jtox-toolkit .font-bigger {
  font-size: larger;
}

.jtox-toolkit .transparent {
  opacity: 0.3;
}

.jtox-toolkit .paddingless {
  padding: 0px !important;
}

.jtox-toolkit .borderless {
  border:0px !important;
}

.jtox-toolkit .borderless-top,
.jtox-toolkit .borderless-top * {
  border-top: 0px !important;
}

.jtox-toolkit .borderless-bottom,
.jtox-toolkit .borderless-bottom * {
  border-bottom: 0px !important;
}

/* Make table helper elements, like paging, filter, etc. in one line...
*/
.jtox-toolkit .dataTables_filter label input,
.jtox-toolkit .dataTables_length label select,
.jtox-inline {
  display: inline-block;
}

.jtox-toolkit table.dataTable td,
.jtox-toolkit table.dataTable th {
  border:1px solid #ccc;
  overflow: hidden;
}

.jtox-toolkit .shortened {
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;  
  white-space: nowrap;
}

.jtox-hidden {
  display: none !important;
}

.jtox-toolkit .float-right {
	float: right !important;
}

.jtox-toolkit span.units {
  font-size: 80%;
}

.jtox-diagram {
  position: relative;
}

.jtox-diagram img {
  border: 0px;
}

.jtox-diagram span.ui-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: none; 
}

.jtox-diagram:hover span.ui-icon {
  display: block;
}

img.jtox-smalldiagram {
  width: 125px;
  height: 125px;
}
