/* toxtdataset.css - Styling for tox-dataset engine
*/

#jtox-dataset table tr * {
  border: 1px solid black;
}

.jtox-ds-fixed,
.jtox-ds-variable {
  border: 0px;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
}

.jtox-ds-fixed {
  display: inline-block;
  width: 450px;
  float: left;
}

.jtox-ds-feature {
  display: inline-block;
  width: 250px;
  border: 0px;
  padding: 2px;
  margin: 0px 15px 0px 0px;
}

.jtox-ds-tables .jtox-inline,
.jtox-ds-tables td {
  vertical-align: top;
}

.jtox-ds-tables td .shortened {
  max-width: 75px;  
}

.jtox-ds-smalldiagram {
  width: 125px;
  height: 125px;
  border: 0px;
}

.jtox-ds-export {
  float: right !important;
}

.jtox-ds-download {
  padding:0px 5px 0px 5px;
}

.jtox-ds-details * {
  font-size: small;
}

.jtox-details-table {
  width: 100%;
  height: auto;  
  vertical-align: baseline;
}

.jtox-details-table th {
  border: 0px !important;
  padding-right: 5px;
  font-weight:bold;
  width: 125px;  
}

.jtox-details-table td {
  border: 0px !important;
}

.jtox-ds-control {
  padding: 10px 10px 0px 10px;
  vertical-align: baseline;
}

.jtox-ds-control .paginate_disabled_previous,
.jtox-ds-control .paginate_enabled_previous,
.jtox-ds-control .paginate_disabled_next,
.jtox-ds-control .paginate_enabled_next {
  float: none;
}

.jtox-ds-control select {
  width: 75px;
}

.jtox-ds-control select,
.jtox-ds-control input {
  display: inline-block;
  font-size: 1.1em;
}

.jtox-ds-control input {
  position: absolute;
  right:10px;
  width: 25%;
}

.jtox-ds-control span {
  font-weight: bold;
  font-size: 1.1em;
}
