/* toxtdataset.css - Styling for tox-dataset engine
*/

#jtox-dataset table tr * {
  border: 1px solid black;
}

.jtox-ds-fixed,
.jtox-ds-variable {
  border: 0px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
}

.jtox-ds-feature {
  display: inline-block;
  width: 250px;
  border: 0px;
  padding: 2px;
  margin: 0px 15px 0px 0px;
}

.jtox-ds-tables .jtox-inline,
.jtox-ds-tables td {
  vertical-align: top;
}

.jtox-ds-smalldiagram {
  width: 125px;
  height: 125px;
  border: 0px;
}
