g.cluster path {
  stroke: #555;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: fill 0.25s;
}

g.cluster.selected.parent>path { fill: none; }
g.cluster.selected.leaf>path { fill: #fff; }
g.cluster.selected.parent>text { opacity: 0.13; }
g.cluster.selected.leaf>text { opacity: 1.0; }

g.cluster.hidden>path,
g.cluster.hidden>text {
  visibility: hidden;
}

g.cluster>text {
  pointer-events: none;
  text-anchor: middle;
  alignment-baseline: middle;
  fill: #555;
  transition: opacity 0.25s;
}

g.cluster.parent>text {
  opacity: 0.8;
}

g.cluster text.sized tspan:last-child {
  font-style: italic;
  font-weight: bold;
  font-size: 0.7em;
}
