g.cluster path {
  stroke: #555;
  stroke-linejoin: round;
  stroke-linecap: round;
  transition: fill 0.3s;
}

g.cluster.selected.parent>path { fill: none; }
g.cluster.selected.leaf>path { fill: #fff; }
g.cluster.selected.parent>text { opacity: 0.33; }
g.cluster.selected.leaf>text { opacity: 1.0; }

g.cluster.hidden>path,
g.cluster.hidden>text {
  visibility: hidden;
}

g.cluster text {
  text-anchor: middle;
  alignment-baseline: middle;
  fill: #555;

  transition: opacity 0.3s;
}

g.cluster.parent text {
  pointer-events: none;
}

g.cluster text tspan:last-child {
  font-style: italic;
  font-weight: bold;
  font-size: 0.7em;
}
