/* toxtstudy.css - Styling for toxstudy engine
*/

div.jtox-study,
div.jtox-composition,
div.jtox-substance {
  display: block;
  font-size: small;
  border-radius: 5px;
  padding: 5px 5px 35px 5px;
}

.jtox-study.folded table,
.jtox-study.folded div.dataTables_wrapper {
  display: none;
}

.jtox-compoblock {
  margin-top: 25px;
  margin-bottom: 45px;  
}

.jtox-toolkit table.composition-info.dataTable td,
.jtox-toolkit table.composition-info.dataTable th {
  border: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.jtox-toolkit table.composition-info.dataTable th {
  width: 20%;
  text-align: right;
}

div.jtox-study.unloaded .jtox-study-title,
div.jtox-study.unloaded.folded .jtox-study-title {
  background: url(../images/waiting_small.gif) right top no-repeat;
  background-size: 16px 16px;
}

.jtox-toolkit .unloaded table {
  display: none;
}

div.jtox-study.loaded.folded .jtox-study-title {
  background: url(../images/sort_desc.png) right top no-repeat;
  background-size: 19px 19px;
}

div.jtox-study.loaded .jtox-study-title {
  background: url(../images/sort_asc.png) right top no-repeat;
  background-size: 19px 19px;
}

div.jtox-study.folded {
  padding-bottom: 5px;
}

div.jtox-study .jtox-study-title {
  font-weight: bold;
  clear: both;
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
}

.jtox-study-filter {
  width: 50% !important;
}

div.jtox-study-tab.ui-tabs-panel {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
}

div.jtox-study-tab .dataTables_wrapper {
/*
  overflow-x: scroll;
  overflow-y: visible;
*/
  overflow: hidden;  
  width: 100%;
}

/* Start of table-related classes */
.jtox-toolkit table.dataTable td.jtox-multi {
  padding: 0px;
}

td.jtox-multi table {
  margin: 0px;
}

td.jtox-multi table td {
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}

td.jtox-multi table tr:first-child td {
  border-top: 0px !important;
}

td.jtox-multi table {
  height: 100%;
  width: 100%;
}
