/* toxtstudy.css - Styling for toxstudy engine
*/

.jtox-study table.dataTable td,
.jtox-study table.dataTable th {
  border:1px solid black;
}

td.middle {
  vertical-align: middle;  
}

div.jtox-study {
  display: block;
  font-size: small;
}

.jtox-study table.dataTable td.jtox-multi {
  padding: 0px;
}

.jtox-study.hidden div.dataTables_wrapper {
  display: none;
}

td.jtox-multi table td {
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}

td.jtox-multi table tr:first-child td {
  border-top: 0px !important;
}

td.jtox-multi table {
  height: 100%;
  width: 100%;
}

#jtox-template {
  display: none !important;
}
