/* toxtree.css - The stylesheet defining some behavioral styles, like 'visible', 'hidden', etc.
*/

.hidden {
	display: none !important;
}

.template {
	display: none;	
}

.visible {
	height: auto;
	visibility: visible;	
}

.fading {
	opacity: 0.3;
  -moz-transition: opacity ease 3000ms;
  -ms-transition: opacity ease 3000ms;
  -o-transition: opacity ease 3000ms;
  -webkit-transition: opacity ease 3000ms;
  transition: opacity ease 3000ms;
}

.container .columns.nomargin,
.container .column.nomargin { 
	margin-right: 0px; 
	margin-left: 0px; 
}

.separator {
	background: #999;
	width:1px !important;
	margin-left:0px !important;
	margin-right: 0px !important;
	padding-left: 1px !important;
	padding-right: 0px !important;
}

button.imaged {
  border: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 0.8;
  line-height: 0px;
}

button.imaged:hover {
	opacity: 1.0;
}

.inlined {
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	vertical-align: text-top;
}

/* And now some visual styling
*/
#query-needle {
	font-size: 21px;
	width: 100%;
}

#connection-error {
	color: #bc3838;	
}

.panel,
.panel-hovering {
	background: #eee; /* Old browsers */
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(127,127,127,.1) 100%); /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(100%,rgba(127,127,127,.1))); /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(127,127,127,.1) 100%); /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(127,127,127,.1) 100%); /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(127,127,127,.1) 100%); /* IE10+ */
	background: #eee linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(127,127,127,.1) 100%); /* W3C */
  border: 1px solid #ccc;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  color: #444;
  margin: 0px;
  
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.panel-hovering:hover {
	color: #222;
	background: #ddd; /* Old browsers */
	background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(127,127,127,.2) 100%); /* FF3.6+ */
	background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(127,127,127,.2))); /* Chrome,Safari4+ */
	background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(127,127,127,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #ddd -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(127,127,127,.2) 100%); /* Opera11.10+ */
	background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(127,127,127,.2) 100%); /* IE10+ */
	background: #ddd linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(127,127,127,.2) 100%); /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc; 
}

/* Toxtree features styling
*/
/*
body, .container {
	overflow: hidden;
}
*/

.status-bar {
	background: #eee;  /* Old browsers */

	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.1) 60%, rgba(127,127,127,.1) 80%); /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.1)), color-stop(100%,rgba(127,127,127,.1))); /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(127,127,127,.1) 100%); /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(127,127,127,.1) 100%); /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(127,127,127,.1) 100%); /* IE10+ */
	background: #eee linear-gradient(top, rgba(255,255,255,.1) 0%,rgba(127,127,127,.1) 100%); /* W3C */

	opacity: 0.7;
  border: 0px;
  padding:4px 2px 2px 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  line-height: 18px;
  width: 100%;
}

.toxtree-features  {
	min-height: 280px;
	max-height: 350px;
	overflow: scroll;
}

.toxtree-features td {
	padding-left: 10px;
	padding-right: 2px;
	white-space: nowrap;

  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
  
  vertical-align: top;
}

.toxtree-features td:nth-child(1) {
	text-overflow: ellipsis;
	overflow: hidden;
}

/* Toxtree diagram styling
*/
.toxtree-diagram {
	min-height: 250px;
	width: auto;
	height: auto;
}

/* Toxtree algorithms styling
*/
/*
.toxtree-algorithms {
	overflow-y: scroll;
}
*/

.toxtree-algorithms li > *:nth-child(1) {
	width: 77%;
	text-overflow: ellipsis;
}

.toxtree-algorithms li > *:nth-child(2) {
	text-align: center;
}

.toxtree-algorithms .results {
	height: auto;
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
  
  margin-right: 10px;
  margin-bottom: 10px;
  background: #f0f0f0;
}

.toxtree-algorithms .row-blank:not(.predicted) .results{
	visibility: hidden;
	height: 0px;
}